.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaço entre os cartões */
}

.product-card {
  flex: 1 1 calc(25% - 16px); /* 25% de largura menos o espaço */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Alinha itens ao centro horizontalmente */
}

.product-image {
  width: 200px;
  height: 300px;
  object-fit: cover; /* Garante que a imagem preencha a área definida */
  display: block;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

@media (max-width: 1200px) {
  .product-card {
    flex: 1 1 calc(33.33% - 16px); /* 3 colunas em telas menores */
  }
}

@media (max-width: 992px) {
  .product-card {
    flex: 1 1 calc(50% - 16px); /* 2 colunas em telas ainda menores */
  }
}

@media (max-width: 576px) {
  .product-card {
    flex: 1 1 100%; /* 1 coluna em telas muito pequenas */
  }
}
