<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="card container">
    <div class="flex flex-column justify-content-center align-items-center">
      <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
        <app-header class="ml-60"></app-header>

        <div class="flex flex-wrap justify-content-center align-items-center gap-2 w-full">
          <label class="w-6rem text-right">Username</label>
          <input type="text" [(ngModel)]="username" name="username" pInputText id="username" class="w-12rem">
        </div>
        <p-toast></p-toast>

        <div class="flex flex-wrap justify-content-center align-items-center gap-2 w-full">
          <label class="w-6rem text-right">Password</label>
          <input type="password" [(ngModel)]="password" name="password" pInputText id="password" class="w-12rem">
        </div>
        <p-toast></p-toast>

        <div class="flex justify-content-center align-items-center w-full ml-10">
          <div class="w-6rem"></div>
          <p-button label="Login" icon="pi pi-user" styleClass="w-12rem mx-auto" (click)="login()"></p-button>
        </div>

        <div class="flex justify-content-center align-items-center w-full ml-10">
          <div class="w-6rem"></div>
          <a href="#" (click)="openSignUpModal($event)">Não tem login? Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>


</div>


<app-modal-login-register *ngIf="visible"></app-modal-login-register>

