.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.ml-60 {
  margin-left: 60px;
}

.ml-10 {
  margin-left: 50px;
}

.error {
  color: red;
  margin-top: 5px;
}

