<p-dialog header="Cadastro" [(visible)]="visible" [modal]="true" [closable]="false" [style]="{ width: '25rem' }">
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <span class="p-text-secondary block mb-5">Preencha as informações abaixo para se cadastrar.</span>

    <div class="flex flex-column gap-3 mb-3">
      <label for="name" class="font-semibold">Name</label>
      <input pInputText id="name" class="w-full" autocomplete="off" formControlName="name" />
      <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" class="error">
        Nome é obrigatório
      </div>
    </div>

    <div class="flex flex-column gap-3 mb-3">
      <label for="username" class="font-semibold">Username</label>
      <input pInputText id="username" class="w-full" autocomplete="off" formControlName="username" />
      <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="error">
        Username é obrigatório
      </div>
    </div>

    <div class="flex flex-column gap-3 mb-3">
      <label for="email" class="font-semibold">Email</label>
      <input pInputText id="email" class="w-full" autocomplete="off" formControlName="email" />
      <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="error">
        Email é obrigatório e deve ser válido
      </div>
    </div>

    <div class="flex flex-column gap-3 mb-3">
      <label for="password" class="font-semibold">Password</label>
      <input pInputText id="password" class="w-full" autocomplete="off" formControlName="password" />
      <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" class="error">
        Password é obrigatório
      </div>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="closeModal()"></p-button>
      <p-button label="Save" type="submit"></p-button>
    </div>
  </form>
</p-dialog>
