/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


//font header titulo
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Poetsen+One&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {
  margin-bottom: 0px !important;
}

:root {
  --primary: #883cae;
  --shadow: rgba(183, 189, 193, 0.3);
}

.store {
  &__font {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
  }

  &__icon {
    color: var(--primary);
    font-size: 2.5rem
  }

  &__middle {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  &__card {
    border-radius: 15px;
    box-shadow: 0px 10px 51px -5px var(--shadow);
    padding: 15px;
    border: 0.5px solid var(--shadow);

    @media (max-width: 500px) {
      min-width: 325px;
    }
  }

  &__input {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid gray;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;

    &:focus {
      outline: none;
    }

    &--invalid {
      border: 1px solid red !important;
    }
  }

  &__label {
    background: #fff;
    padding: 0px 10px;
    color: gray;
    width: fit-content;
    position: fixed;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    user-select: none;

    &--invalid {
      color: red !important;
    }
  }

  &__error {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    user-select: none;
    color: red;
  }

  &__button {
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    background: transparent;
    text-align: center;
    vertical-align: sub;
    user-select: none;

    &:disabled {
      border: 1px solid gray !important;
      color: gray !important;
      background: transparent !important;
    }

    &--primary {
      border: 1px solid var(--primary);
      color: var(--primary);

      &:hover {
        background: var(--primary);
        color: #fff;
      }
    }

    &--secondary {
      background: var(--primary);
      color: #fff;
      border: 1px solid var(--primary);

      &:hover {
        background: transparent;
        color: var(--primary);
      }
    }
  }

}
